.antd-daterange .ant-picker-panel-container {
  position: relative;
  padding-left: 110px;
}
.antd-daterange .ant-picker-panels {
  border-left: 1px solid #f0f0f0;
}
.antd-daterange .ant-picker-panels .ant-picker-panel {
  border-bottom: 0;
}
.antd-daterange .ant-picker-footer {
  position: absolute;
  top: 0;
  left: 0;
}
.antd-daterange .ant-picker-ranges {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  padding: 10px;
}
.antd-daterange .ant-picker-ranges .ant-picker-preset {
  display: block;
  white-space: nowrap;
  margin-bottom: 1px;
}
.antd-daterange .ant-picker-ranges .ant-picker-preset > span {
  display: block;
  height: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0 8px;
  background-color: transparent;
  border: none;
}
.antd-daterange .ant-picker-ranges .ant-picker-preset:hover {
  background-color: #e6f7ff;
}
.antd-daterange .ant-picker-decade-panel .ant-picker-content,
.antd-daterange .ant-picker-year-panel .ant-picker-content,
.antd-daterange .ant-picker-quarter-panel .ant-picker-content,
.antd-daterange .ant-picker-month-panel .ant-picker-content {
  height: 228px;
}
